@model HomeViewModel

<section class="main-slider container">
    <div class="main-slider__item">
        <a href="#" class="main-slider__link">
            <img src="img/slide1.jpg" alt="">
        </a>
    </div>
    <div class="main-slider__item">
        <a href="#" class="main-slider__link">
            <img src="img/slide1.jpg" alt="">
        </a>
    </div>
    <div class="main-slider__item">
        <a href="#" class="main-slider__link">
            <img src="img/slide1.jpg" alt="">
        </a>
    </div>
</section>

<section class="catalog-slider">
    <div class="container catalog-slider__container">
        <h1 class="catalog-slider__title">Новинки</h1>
        <div class="catalog-slider__content">
            @{
                foreach (Watch watch in Model.getNewWatch)
                {
                    @Html.Partial("AllWatch", watch)
                }
            }
        </div>
    </div>
</section>

<section class="catalog-slider">
    <div class="container catalog-slider__container">
        <h1 class="catalog-slider__title">Новинки</h1>
        <div class="catalog-slider__content">


            @{
                foreach (Watch watch in Model.favWatch)
                {
                    @Html.Partial("AllWatch", watch)
                }
            }
        </div>
    </div>
</section>

@Html.PartialAsync("Footer");