@model ShopCartViewModel

<section class="cart">
    <div class="container cart__container">
        <div class="cart__top">
            <nav class="cart__breadcrumbs breadcrumbs">
                <div class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </div>
                <div class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Корзина</a>
                </div>
            </nav>
            <h1 class="cart__title">Корзина</h1>
        </div>
        <!-- <h1 class="cart__empty">Ваша корзина пуста</h1> -->
        <div class="cart__content">
            @foreach (var item in Model.shopCart.listShopItem)
            {
                <div class="cart__item item">
                    <div class="left">
                        <div class="item__image">
                            <a href="pr">
                                <img src="@item.watch.img" alt="">
                            </a>
                        </div>
                        <div class="item__title">
                            <a asp-controller="Watch" asp-action="Action" asp-route-name="@item.watch.name">
                                <h2 class="item__brand">Brand</h2>
                                <h2 class="item__model">Model</h2>
                            </a>
                        </div>
                    </div>

                    <div class="right">
                        <div class="item__price"><span class="item__price--int">@item.price</span> BYN</div>
                        <div class="item__btns">
                            <button class="item__quantity-btn btn-reset js-minus">-</button>
                            <div class="item__counter">1</div>
                            <button class="item__quantity-btn btn-reset js-plus">+</button>
                        </div>

                    </div>
                    <button class="item__delete-btn btn-reset delete">&#215;</button>
                </div>
                <hr class="hr-primary">
            }
        </div>
        <div class="cart__completion">
            <div class="cart__total-price">
                <p class="p-total">Итого:</p>
                <p class="price"><span class="price--int">438</span> BYN</p>
            </div>
            <a asp-controller="Order" asp-action="Order" class="cart__order-btn">Оформить заказ</a>
        </div>
    </div>
</section>

@Html.Partial("Footer");
