@model Watch


    <div class="product-info__top">
        <nav class="product-info__breadcrumbs breadcrumbs">
            <div class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Главная</a>
            </div>
            <div class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Наручные часы</a>
            </div>
            <div class="breadcrumbs__item">
                <a class="breadcrumbs__link">@Model.name</a>
            </div>
        </nav>
        <h1 class="product-info__title">@Model.name</h1>
    </div>
